<head>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/users.css">
</head>
<section class="container">
  <%@users.each do |user| %>
    <div class="user-profile">
      <div class="profile-pic">
        <img src=<%= user.photo %>alt="user profile pic">
      </div>
      <div class="user-name">
       <h1> <%= link_to user.name, "/users/#{user.id}" %> </h1>
        <div class="right-align"><span >Number of posts: <%= user.posts_counter %></span></div>
      </div>
    </div>
  <% end %>
</section>
