* {
  box-sizing: border-box;
}

.post-data,
.post-info,
.user-post {
  width: 100%;
  border: solid 1px #000;
  margin-top: 0.6em;
}

.post-data {
  padding: 0.5em 1.2em;
}

.post-info {
  width: 100%;
  height: fit-content; /* stylelint-disable-line */
  padding: 1.2em;
}

.post-box {
  text-decoration: none;
  color: #000;
}

.user-post-btns {
  display: flex;
  width: 100%;
  column-gap: 3em;
  justify-content: center;
  align-content: center;
  margin-top: 2em;
}

.posts-btn {
  text-decoration: none;
  color: #008fef;
  width: 10em;
  height: 3em;
  background-color: #f0f8ff;
  border-radius: 4px;
  border: none;
  box-shadow: 5px 5px 10px rgba(46, 46, 48, 0.61);
  cursor: pointer;
}

.posts-btn:hover {
  background-color: #008fef;
  color: #fff;
}

.user-post {
  padding: 1.2em 0 0.6em 1.2em;
  background-color: rgba(0, 175, 239, 0.082);
  border: none;
  font-size: small;
  color: #008fef;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 175, 239, 0.24);
  margin-bottom: 2em;
  text-align: left;
}

h3 {
  margin: 0;
}

.comments-list {
  display: flex;
  flex-direction: column;
  margin: 1em 0 1em 1em;
}

.posts-section {
  margin-top: 1.6em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.posts-span {
  width: 100%;
  text-align: center;
  color: #00aeef;
  font-weight: 700;
}
