* {
  box-sizing: border-box;
}

.post-data,
.post-info,
.user-post {
  width: 100%;
  border: solid 1px #000;
  margin-top: 0.6em;
}

.post-data {
  padding: 0.5em 1.2em;
}

.post-info {
  width: 60vw;
  height: fit-content; /* stylelint-disable-line */
  padding: 1.2em;
}

.user-post {
  padding: 1.6em;
}

h3 {
  margin: 0;
}

.comments-list {
  display: flex;
  flex-direction: column;
  margin: 1em 0 1em 1em;
}
