.user-post {
  width: 28em;
  height: 7em;
  border: solid 1px #000;
  padding: 1.6em;
  margin-top: 0.6em;
}

.post-data {
  width: 28em;
  height: 7em;
  border: solid 1px #000;
  padding: 1.6em;
  margin-top: 0.6em;
}

.post-info {
  width: 28em;
  height: fit-content;
  border: solid 1px #000;
  padding: 1.6em;
  margin-top: 0.6em;
}