* {
  box-sizing: border-box;
}

.user-profile {
  display: flex;
  width: 40em;
  height: 8em;
}

.user-bio {
  width: 28em;
  height: 7em;
  border: solid 1px #000;
  padding: 1.6em;
}

.user-post {
  width: 28em;
  height: 7em;
  border: solid 1px #000;
  padding: 1.6em;
  margin-top: 0.6em;
}

.profile-pic {
  width: 6em;
  height: 6.4em;
  border: solid 1px #000;
}

.user-name {
  width: 50%;
  height: 80%;
  border: solid 1px #000;
  margin-left: 2em;
  padding: 0 0.8em 0 3em;
}

.right-align {
  text-align: right;
}
